<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EditPage</title>
    <link rel="stylesheet" href="../../bootstraps/bootstrap.min.css">
    <link rel="stylesheet" href="../../js/bootstrap.min.js">
    <link rel="stylesheet" href="../../css/createandedit.css">    
</head>
<body>
    <div class="limiter">
        <div class="container">
            <div class="container-background">
                <div class="container-createProduct">
                    <h2 class="container-sign text-center">Edit Product</h2>
                    <div class="container-form">
                        <form action="" method="" class="login-form">
                            <div class="form-control1">
                            <label class="text-danger text-uppercase font-weight-bold">Editname: </label>
                            <input type="text" class="form-control" placeholder="Nhập tên">
                            
                        </div>
                        <div class="form-control1">
                            <label class="text-danger text-uppercase font-weight-bold">EditPrice: </label>
                            <input type="text" class="form-control" placeholder="Nhập Giá">
                            >
                        </div>
                        <div class="form-control1">
                            <label class="text-danger text-uppercase font-weight-bold">EditImages: </label>
                            <input type="file" id="img" name="img" accept="image/*">
                        </div>
                          
                        </form>
                    </div>
                    <div>
                        <!-- có sử liệu rồi bỏ lại vào line 36 -->
                        <a href="../views/overview.html"> <button type="submit" class="btn btn-login align-justify-center btn-danger " onclick="alert('Edit successed')">Xác Nhận</button>
                        </a>
                        <a href="../views/overview.html">
                        <button type="submit" class="btn btn-login align-justify-center btn-danger" onclick="alert('Cancel successed')">Hủy</button>
                        </a>
                        </div> 
                </div>
            </div>
            
        </div>
    </div>
</body>
</html>