<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EditInFo</title>
    <link rel="stylesheet" href="../../css/pageschild.css">
    <link rel="stylesheet" href="../../bootstraps/bootstrap.min.css">
    <link rel="stylesheet" href="../../js/bootstrap.min.js">
</head>
<body>
    <div class="header">
        <h1 class="header-title text-center mt-2">BÀI TẬP WEBSITE GIÀY DÉP</h1>
      
            <ul class="header-nav-list">
                <li class="header-nav-item"> <a href="../../src/views/overview.html">Overview</a></li>
                <li class="header-nav-item"> <a href="../../src/views/create.html">Create</a></li>
                <li class="header-nav-item"> <a href="../../src/views/editinfo.html">Edit</a></li>
                <li class="header-nav-item"> <a href="../../src/views/deleteinfo.html">Delete</a></li>
                <li class="header-nav-item"> <a href="../../src/views/index.html">Log out</a></li>
            </ul>   
</div>

<div class="content container">
    <div class="content-product">
        <div class="content-product-info">
            <img src="../../images/pic1.jpg" alt="" class="img-fluid w-100">
            <p>Giày thể thao nữ MWC NUTT- 0436</p>
            <p>Price:270.000đ</p>

            <a href="../views/edit.html">
                <button type="submit" class="float-right btn btn-login align-justify-center btn-danger">Edit</button>
            </a>
                     
        </div>
        <div  class="content-product-info">
            <img src="../../images/pic2.jpg" alt="" class="img-fluid w-100">
            <p>Giày thể thao nữ MWC NUTT- 0436</p>
            <p>Price:270.000đ</p>
            <a href="../views/edit.html">
                <button type="submit" class="float-right btn btn-login align-justify-center btn-danger">Edit</button>
            </a>
        </div>
        <div  class="content-product-info">
            <img src="../../images/pic3.jpg" alt="" class="img-fluid w-100">
            <p>Giày thể thao nữ MWC NUTT- 0436</p>
            <p>Price:270.000đ</p>
            <a href="../views/edit.html">
                <button type="submit" class="float-right btn btn-login align-justify-center btn-danger">Edit</button>
            </a>
        </div>
       
    </div>
    <div class="content-product">
        <div class="content-product-info">
            <img src="../../images/pic4.jpg" alt="" class="img-fluid w-100">
            <p>Giày thể thao nữ MWC NUTT- 0436</p>
            <p>Price:270.000đ</p>
            <a href="../views/edit.html">
                <button type="submit" class="float-right btn btn-login align-justify-center btn-danger">Edit</button>
            </a>
        </div>
        <div  class="content-product-info">
            <img src="../../images/pic5.jpg" alt="" class="img-fluid w-100">
            <p>Giày thể thao nữ MWC NUTT- 0436</p>
            <p>Price:270.000đ</p>
            <a href="../views/edit.html">
                <button type="submit" class="float-right btn btn-login align-justify-center btn-danger">Edit</button>
            </a>
        </div>
        <div  class="content-product-info">
            <img src="../../images/pic6.jpg" alt="" class="img-fluid w-100">
            <p>Giày thể thao nữ MWC NUTT- 0436</p>
            <p>Price:270.000đ</p>
            <a href="../views/edit.html">
                <button type="submit" class="float-right btn btn-login align-justify-center btn-danger">Edit</button>
            </a>
        </div>
       
    </div>
    <div class="content-product">
        <div class="content-product-info">
            <img src="../../images/pic7.jpg" alt="" class="img-fluid w-100">
            <p>Giày thể thao nữ MWC NUTT- 0436</p>
            <p>Price:270.000đ</p>
            <a href="../views/edit.html">
                <button type="submit" class="float-right btn btn-login align-justify-center btn-danger">Edit</button>
            </a>
        </div>
        <div  class="content-product-info">
            <img src="../../images/pic8.jpg" alt="" class="img-fluid w-100">
            <p>Giày thể thao nữ MWC NUTT- 0436</p>
            <p>Price:270.000đ</p>
            <a href="../views/edit.html">
                <button type="submit" class="float-right btn btn-login align-justify-center btn-danger">Edit</button>
            </a>
        </div>
        <div  class="content-product-info">
            <img src="../../images/pic9.jpg" alt="" class="img-fluid w-100">
            <p>Giày thể thao nữ MWC NUTT- 0436</p>
            <p>Price:270.000đ</p>
            <a href="../views/edit.html">
                <button type="submit" class="float-right btn btn-login align-justify-center btn-danger">Edit</button>
            </a>
        </div>
       
    </div>
</body>
</html>