<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEBSITE GIÀY DÉP</title>
    <link rel="stylesheet" href="../../css/normalize.min.css">
    <link rel="stylesheet" href="../../bootstraps/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/home.css">
</head>
<body >
    <div class="limiter">    
        <div class="container">
            <div class="row">
                <div class="col-md-8 container-background">
                </div>
                <div class="col-md-3 container-form">
                    <div class="container-form-container">
                    <h2 class="text-center text-danger mb-5 ">Login Accout</h2>
		            <form class="login-form" action="" method="">
                        <div class="form-group">
                            <label  class="text-danger text-uppercase">Username</label>
                            <input type="text" class="form-control" placeholder="Nhập tài khoản">
                        </div>
                    <div class="form-group">
                        <label  class="text-danger text-uppercase">Password</label>
                        <input type="password" class="form-control" placeholder="Nhập mật khẩu">
                    </div>
                  
                    </form>
                    <!-- có dữ liệu rồi bỏ vào lại vào line 29 -->
                    <a href="../views/overview.html">  <button type="submit" class="btn btn-login align-justify-center btn-danger">Submit</button>
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>